* {
  padding: 0;
  margin: 0;
}

.inner-container {
  text-align: center;
  margin-top: 20px;
}

p {
  font-size: 20pt;
}
.container {
  margin-top: 3em;
}
.input-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.main-container {
  margin-top: 2em;
  margin-left: 3em;
  margin-right: 3em;
}
h2 {
  font-size: 20pt;
  text-align: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

.popup-content {
  background-color: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
  background-color: white;
  color: black;
  margin-left: 0.5em;
  width: 100px;
}

button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}
